body{
font-family: Arial;
background:#f4f4f4;
}


/* LOGO */

.logo h2{
color:#4f7f87;
margin:0;
}

.logo p{
font-size:12px;
letter-spacing:2px;
margin:0;
color:#777;
}


/* HERO */

.hero{
padding:40px 0;
}

.hero-box{
background:linear-gradient(#d7e1e5,#c6d2d8);
padding:80px 60px 50px 60px;
border-radius:5px;
}


/* ICON */

.icon-group{
display:flex;
gap:25px;
margin-bottom:40px;
}

.icon-group img{
    width:110px;
    height:110px;
    border-radius:50%;
    border:6px solid white;
    object-fit:cover;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}



/* TEXT */

.small-text{
font-size:16px;
margin-bottom:10px;
}

.hero-content h2{
font-size:30px;
margin-bottom:15px;
}

.hero-content strong{
color:#2c6f77;
}

.desc{
font-size:14px;
color:#555;
max-width:520px;
}


/* IMAGE */

.hero-img{
width:320px;
}


/* CONTENT */

.content{
background:white;
padding:50px;
margin-top:40px;
}

.content h5{
font-weight:bold;
margin-bottom:15px;
}
